<h1>
  Ember Inspector Release Status
</h1>

<p>
  Chrome and Firefox extensions' releases are delayed after the GitHub release (due to review process). This page shows the up-to-date-ness of those extensions as well as reverting instructions in case of Chrome and Firefox releases are delayed too much.
</p>

<ReleaseInfo as |api|>
  {{#if api.isLoading}}
    <p>Loading...</p>
  {{else}}
    <div>

      GitHub Version:
      <a href={{api.info.html_url}}>{{api.info.tag_name}}</a>

      <div>
        Published at: {{this.date api.info.created_at}}
      </div>
    </div>

    <section>
      <h2>
        Extension Releases
      </h2>
      <dl>
        <dt>Firefox</dt>
        <dd>
          {{this.firefoxVersion}}
          {{#if (api.isUpToDate this.firefoxVersion)}}
            <em>up to date</em> as of {{this.date this.firefox.value.last_updated}}
          {{else}}
            <em>out of date - publish pending</em>
          {{/if}}
        </dd>
        <dt>Chrome</dt>
        <dd>
          n/a
        </dd>
      </dl>
    </section>
    <section>
      <h2>
        How to revert to a previous version
      </h2>
      <pre>{{this.revertInstructions}}</pre>
      Then <a href="https://github.com/emberjs/ember-inspector#installation" target="_blank">
      follow these instructions</a> to use the local copy of ember inspector.
    </section>
  {{/if}}
</ReleaseInfo>